#/****************************************************************/
#/*                            _                   _             */
#/*   __ _ _ __  _   _ ___    (_)_ __  _ __  _   _| |_ _ __ ___  */
#/*  / _` | '_ \| | | / __|   | | '_ \| '_ \| | | | __| '__/ __| */
#/* | (_| | | | | |_| \__ \  _| | | | | |_) | |_| | |_| | | (__  */
#/*  \__, |_| |_|\__,_|___/ (_)_|_| |_| .__/ \__,_|\__|_|  \___| */
#/*  |___/                            |_|                        */
#/****************************************************************/

## VI MODE
set editing-mode vi

## INDICATION VI MODE
set show-mode-in-prompt on

## without powerline
set vi-cmd-mode-string "\1\e[1 q\2:"
set vi-ins-mode-string "\1\e[5 q\2 "

## with powerline
# set vi-cmd-mode-string \1\e[48;5;208;1m\2 N \1\e[38;5;208;48;5;31;1m\2\1\e[0m\2
# set vi-ins-mode-string \1\e[48;5;24;1m\2 I \1\e[38;5;24;48;5;31;1m\2\1\e[0m\2
