
/*  ####  #    # #    #  ####  Year: 2020
/* #    # ##   # #    # #
/* #      # #  # #    #  ####
/* #  ### #  # # #    #      # https://github.com/gnusd
/* #    # #   ## #    # #    # http://gnusd.xyz
/*  ####  #    #  ####   ####
/*
/* this script is configured to make the tabs smaller and to hide the urlbar. */
/* I use tridactyl (https://github.com/tridactyl/tridactyl) to search and navigate */

/* changing the colors for the tab bar */
#tabbrowser-tabs { --tab-line-color: #feb744 !important; }
#tabbrowser-tabs:-moz-window-inactive { --tab-line-color: #A9B665 !important; }

/* changing font wight and size for tab bar */
#tabbrowser-tabs .tab-text{ font-size:10pt !important; font-weight: bold !important; font-family: hack !important;}
.tabbrowser-tab[pending] { font-style: italic; }

/* Change tab max width */
.tabbrowser-tab[fadein]:not([pinned]) { max-width: 200px !important; }

/* Change tab max hight */
:root {  --tab-toolbar-navbar-overlap: 0px !important;  --tab-min-height: 20px !important; }
#TabsToolbar { height:var(--tab-min-height)!important; margin-top:-1px!important; margin-bottom:1px!important }

/* disable the new tab button in tab bar */
#tabs-newtab-button { display:none !important; }

/* remove the close button on the tabs */
#tabbrowser-tabs .tab-close-button { display:none !important; }

/* autohide addressbar */
#nav-bar { height: 0px !important; min-height: 0px !important; overflow: hidden !important; }

/* Hide the scroll bar */
:-moz-any(#content,#appcontent) browser{margin-right:-12px!important;margin-bottom:0px!important;overflow-y:scroll;overflow-x:hidden;}

/* Hide the statusbar */
#statuspanel { display:none!important; }
